{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div class="orderContent">
    <div class="order-title">
      <h1> {{ 'customer.account.title' | t}} </h1>
      <h2>{{ 'customer.orders.title' | t }}</h2>
    </div>
    <div class="order-container">
      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
        <div class="order-list">
          {%- for order in customer.orders -%}
            <div class="order-item">
              <div class="order-left">
                <p>
                  No. del pedido: 
                    {{ order.name }}
                </p>
                
                {%- for line_item in order.line_items -%}
                  <p>
                    Descripción del producto:
                    {%- if line_item.product.url != blank -%}
                      <a href="{{ line_item.product.url }}">{{ line_item.title }}</a>
                    {%- else -%}
                      <p>{{ line_item.title }}</p>
                    {%- endif -%}
                  </p>
                  
                {%- endfor -%}
              </div>
              <div class="order-right">
                <p>Estado del pedido: {{ order.fulfillment_status_label }}</p>
                <p>Total: {{ order.total_price | money_with_currency }}</p>
              </div>
              <a href="{{ order.customer_url }}">
                <button class="order-button">Ver detalles del pedido</button>
              </a>
            </div>
          {%- endfor -%}
        </div>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                </ul>
              </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>
  </div>
  <div class="directory-user">
    <div class="user-details">

      <h1>{{ customer.first_name }} {{customer.last_name}} </h1>
    </div>
    <input class="addressinput" type="checkbox"  id="addressclick">
    <label class="addressmenu-icon" for="addressclick">
        <p class="button-address">Direcciones guardadas</p>
    </label>
    <div class="directory-address">
        <div class="address-box">
          <h2>{{ 'customer.account.details' | t }}</h2>
          <div>
            {{ customer.default_address | format_address }}
          </div> 
        </div>
        <a href="{{ routes.account_addresses_url }}" class="button-address">
          {{ 'customer.account.view_addresses' | t }}
        </a>
        <label class="addressmenu-icon" for="addressclick">
          <span>cerrar</span>
        </label>
      </div>
    </div>
  </div>
</div>
